:root {
    --text-size: 15px;
    --text-style: normal;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 62px;
}
.header-logo {
    width: 38px;
    height: 54px;
}
.header-text {
    font-style: var(--text-style);
    font-weight: 400;
    font-size: var(--text-size);
}
.header-in {
    display: flex;
    align-items: center;
    column-gap: 50px;
}
.btn {
    padding: 14px 28px 16px 28px;
    
    font-style: var(--text-style);
    font-weight: 600;
    font-size: var(--text-size);

    text-decoration: none;
    background: #009465;;
    border-radius: 8px;
    border: none;
}