.mainChess {
    width: 416px;
	display: table;
	border-collapse: collapse;
    background-color: rgba(80, 54, 230, 1);
}
.chessLine {
	display: table-row;
}
.chessLine div {
	width: 26px;
	display: table-cell;
	padding: 13px;
}		
.mainChess .chessLine:nth-child(odd) div:nth-child(odd) {
	background: white;
}	
.mainChess .chessLine:nth-child(even) div:nth-child(even) {
	background: white;
}