.main-chess {
    width: 416px;
	display: table;
	border-collapse: collapse;
    background-color: rgba(80, 54, 230, 1);

}
.chess-tr {
	display: table-row;
}
.chess-tr div {
	width: 26px;
	display: table-cell;
	padding: 13px;

}		
.main-chess .chess-tr:nth-child(odd) div:nth-child(odd) {
	background: white;
}	
.main-chess .chess-tr:nth-child(even) div:nth-child(even) {
	background: white;
}